language: scala

scala:
  - 2.11.12
  - 2.10.7
  - 2.12.8
  - 2.13.0

sudo: false

jdk:
  - oraclejdk8

matrix:
  include:
    - scala: 2.12.8
      jdk: openjdk11
    - scala: 2.11.12
      jdk: oraclejdk8
      env: SCALA_NATIVE
      sudo: required
      dist: trusty
      before_install:
      - curl https://raw.githubusercontent.com/scala-native/scala-native/master/scripts/travis_setup.sh | bash -x
      script:
      - sbt ++$TRAVIS_SCALA_VERSION "applybuilderNative/test:run"

script:
  - sbt ++${TRAVIS_SCALA_VERSION} update compile test:compile applybuilderJS/test:run applybuilderJVM/test:run
